---
const { values = [], title = "", name } = Astro.props;

const filterId = `${name}-filter`;
---

<div class="mb-3">
  <h3 class="text-xl">{title}</h3>
  <ul id={filterId} class="flex flex-row gap-2 flex-wrap">
    {
      values.map((value) => (
        <li
          class="cursor-pointer border pt-2 pb-2 pl-4 pr-4 rounded-sm"
          data-value={value}
        >
          {value}
        </li>
      ))
    }
  </ul>
</div>

<script define:vars={{ filterId, name }}>
  const filterContainer = document.querySelector(`#${filterId}`);

  const currentValues = Object.fromEntries(
    new URLSearchParams(window.location.search).entries()
  );
  const currentValue = currentValues[name]?.split(",") ?? [];

  filterContainer.querySelectorAll("li").forEach((filterItem) => {
    // console.log(filterItem);
    filterItem.addEventListener("click", (event) => {
      const itemValue = filterItem.innerHTML.trim();

      if (currentValue.includes(itemValue)) {
        event.target.classList.remove("bg-blue-200");
        currentValue.splice(currentValue.indexOf(itemValue), 1);
      } else {
        event.target.classList.add("bg-blue-200");
        currentValue.push(itemValue);
      }

      const newValues = {
        ...currentValues,
        [name]: currentValue.filter((value) => value !== "").join(","),
      };

      // window.location.search = new URLSearchParams(newValues).toString();
      window.location.replace(
        `${window.location.pathname}?${new URLSearchParams(
          newValues
        ).toString()}`
      );
    });
  });

  filterContainer.querySelectorAll("li").forEach((filterItem) => {
    const itemValue = filterItem.innerHTML.trim();

    if (currentValue.includes(itemValue)) {
      filterItem.classList.add("bg-blue-200");
    } else {
      filterItem.classList.remove("bg-blue-200");
    }
  });
</script>
